<form v-on="submit: createTask">
    <div class="form-group">
        <input type="text"
        v-model="newTask.name"
               v-el="newTaskInput"
               class="form-control"
               placeholder="What do you need to do?">
    </div>
</form>

<div v-show="!selectedTask" v-transition="fade">
    <div class="panel panel-default">
        <div class="panel-body text-center"
             v-show="noTasksMessage">
             {{ noTasksMessage }}
        </div>

        <ul class="list-group">
            <li v-repeat="tasks | filterTasks"
                v-transition="bounce"
                stagger="50"
                class="list-group-item">

                <input type="checkbox"
                       v-model="isComplete">

                <span v-on="dblclick: editTask($index)"
                      v-class="text-linethrough: isComplete"
                      v-text="name">
                </span>

                <a href="#"
                   v-on="click: showDetails($index)"
                   class="pull-right">Details</a>
            </li>
        </ul>

        <div class="panel-footer text-center clearfix">
            <div class="pull-left">
                <span v-text="remaining"></span> {{ remaining | pluralize 'task' }} left
            </div>

            <button type="button"
                    v-on="click: clearCompleted"
                    v-disabled="!completed"
                    class="btn btn-danger btn-xs pull-right">
                    Clear Completed ({{ completed }})
            </button>
        </div>
    </div>

    <div class="text-center">
        <ul class="list-inline">
            <li><a href="#/all" v-on="click: setTaskFilter('all')">All</a></li>
            <li><a href="#/active" v-on="click: setTaskFilter('active')">Active</a></li>
            <li><a href="#/completed" v-on="click: setTaskFilter('completed')">Completed</a></li>
        </ul>
    </div>
</div>

<div class="panel panel-default panel-shelf" v-show="selectedTask" v-transition="slide">
    <div class="panel-heading text-center">
        {{ selectedTask.name }}

        <a href="#"
           v-on="click: selectedTask = ''"
           class="pull-right">
           Close
        </a>
    </div>

    <div class="panel-body">
        <div class="form-group">
            <label>Notes:</label>
            <textarea class="form-control"
                      v-model="selectedTask.notes"
                      placeholder="Notes">
            </textarea>
        </div>
    </div>
</div>