/*
 * Bootstrap
 * ------------------------------
 */

@import "../../../bower_components/bootstrap/less/bootstrap.less";

/*
 * Global
 * ------------------------------
 */

body {
    overflow-x: hidden;
}

/*
 * Typography
 * ------------------------------
 */

.text-linethrough {
    text-decoration: line-through;
}

/*
 * Tasks
 * ------------------------------
 */

.task-container {
    position: relative;
}

.panel-shelf {
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%;
}

/*
 * Forms
 * ------------------------------
 */

textarea.form-control {
    height: 200px;
}

/*
 * Bounce
 * ------------------------------
 */

.bounce-enter {
    animation: bounce-in .5s;
}

.bounce-leave {
    animation: bounce-out .5s;
}

@keyframes bounce-in {
      0% { transform: scale(0); }
     50% { transform: scale(1.5); }
    100% { transform: scale(1); }
}

@keyframes bounce-out {
      0% { transform: scale(1); }
     50% { transform: scale(1.5); }
    100% { transform: scale(0); }
}

/*
 * Slide
 * ------------------------------
 */

.slide-enter {
    animation: slide-in .5s;
}

.slide-leave {
    animation: slide-out .5s;
}

@keyframes slide-in {
      0% { transform: translate(100%); }
    100% { transform: translate(0%); }
}

@keyframes slide-out {
      0% { transform: translate(0); }
    100% { transform: translate(100%); }
}

/*
 * Fade
 * ------------------------------
 */

.fade-enter {
    animation: fade-in .5s;
}

.fade-leave {
    animation: fade-out .5s;
}

@keyframes fade-in {
      0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fade-out {
      0% { opacity: 1; }
    100% { opacity: 0; }
}
